<%- include("header") -%>

    <!-- Sidebar -->
    <nav class="w3-sidebar activecolor w3-bar-block w3-collapse  w3-animate-left w3-light-grey" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
          class="w3-right w3-xlarge w3-padding-large w3-hover-teal w3-hide-large" title="Close Menu">
          <i class="fa fa-remove"></i>
        </a>
  
        <h4 class="w3-text-black">Stacks</span> </h4>
      
      <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter5#def" >Introduction</a>
      <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter5#what">What is a stack</a>
      <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter5#adt">ADT stack</a>
      <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter5#implementation">Implementation of a stack</a>
  
        <h4 class="w3-text-black">Queues </span></h4>
        
        <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge active" href="/Chapter6#what" >Introduction</a>
        <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter6#what">What is a queue</a>
        <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/Chapter6#adt" >ADT queues</a>
        <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter6#implementation">Implementation of a queue</a>
        
      </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu"
      id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left: 250px">
      <div class="w3-row w3-padding-64">
        <div class=" w3-container">
      

        <!-- New section -->
          <h3 id = "what" class="w3-text-teal" id="#properties">Queues</h3>

         
          
          <h3 class="w3-text-teal">What is a queue?</h3>
          
          <pre>
            □	It is an ordered group of homogeneous items of elements.
            □	Queues have two ends:
                •Elements are added at one end called the rear .
                •Elements are removed from the other end called the front.
            □	The element added first is also removed first ( <b>FIFO</b>: First In, First Out)
            <img src="images/queue2.jpg" style="height: 500px; width: 700px;" alt=""> <br>
          </pre>

          <pre>
            •	With a linked-list representation, overflow will not happen (unless you exhaust memory, which is another kind of problem).
            •	Underflow can happen, and should be handled the same way as for an array implementation.
            •	When a node is popped from a list, and the node references an object, the reference (the pointer in the node) does not need to be set to <b>null</b>.
              □	Unlike an array implementation, it really is removed--you can no longer get to it from the linked list.
              □	Hence, garbage collection can occur as appropriate.

          </pre>
          
          <p id="adt">
            <b>The queue ADT</b> <br>
            	□ The queue abstract data type is defined by the following structure and operations.<br>
            	□ A queue is structured as an ordered collection of items which are added at one end, called the “rear,” and removed from the other end, called the “front.” <br>
            	□ Queues maintain a FIFO ordering property<br>

              <b >
                <b class="w3-text-teal">Queue()</b> creates a new queue that is empty. It needs no parameters and returns an empty queue.<br>
                <b class="w3-text-teal">enqueue(item)</b> adds a new item to the rear of the queue. It needs the item and returns nothing.<br>
                <b class="w3-text-teal">dequeue()</b> removes the front item from the queue. It needs no parameters and returns the item. The queue is modified.<br>
                <b class="w3-text-teal">is_empty()</b> tests to see whether the queue is empty. It needs no parameters and returns a Boolean value.<br>
                <b class="w3-text-teal">size()</b> returns the number of items in the queue. It needs no parameters and returns an integer<br>

              </b>

          </p>

          <b class="w3-text-teal">Queues in computer science</b>
          <pre>
           <b>Operating systems:</b> 
              •	queue of print jobs to send to the printer
              •	queue of programs / processes to be run
              •	queue of network data packets to send

            <b> Programming:</b>
              • modeling a line of customers or clients
              • storing a queue of computations to be performed in order

            <b> Real world examples:</b>
              •	people on an escalator or waiting in a line.
              •	cars at a gas station (or on an assembly line).
              •	Printing Job Management.
              •	Packet Forwarding in Routers.
              •	Message queue in Windows.
              •	I/O buffer.

          </pre>
          <br id = "implementation">

          <h3 class="w3-text-teal">Array implementation of a queue</h3>
          <p>
            •	A queue is a first in, first out (FIFO) data structure <br>
            •	This is accomplished by inserting at one end (the rear) and deleting from the other (the front)

            <img src="images/queue3.png"  alt=""> <br>

            •	To insert: put new element in	location 4, and set rear to 4 <br>
            •	To delete: take element from location 0, and set front to 1

            <img src="images/queue4.png" alt=""> <br>
            •	Notice	how	the	array	contents	“crawl”	to	the	right	as elements are inserted and deleted
            •	This will be a problem after a while!

          </p>


        </div>

        <!-- End section -->


     
        </div>

      <div class="w3-clear nextprev w3-padding-32">
        <a class="w3-left w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" href="/chapter5">
          Previous</a>
        <a class="w3-right w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;"
          href="/chapter7">Next</a>
      </div>

      <%- include("footer") -%>