<%- include("header") -%>

    <!-- Sidebar -->
    <nav class="w3-sidebar activecolor w3-bar-block w3-collapse  w3-animate-left w3-light-grey" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-right w3-xlarge w3-padding-large w3-hover-teal w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
      </a>

      <h4 class="w3-text-black">Recursion</span></h4>
      
      <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/fibonaccis" >Fibonacci</a>
      <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge   active" href="/factorials">Factorial</a>
      <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/hanoi">Towers of Hanoi</a>

      <h4 class="w3-text-black">Data Structures </span></h4>
      
      <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/stacks" >Stack</a>
 <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/queue">Queue</a>
 <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/singly" >Singly linked list</a>
 <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/doubly">Doubly linked list</a>
      
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu"
      id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left: 250px">
      <div class="w3-row w3-padding-64">
        <div class=" w3-container">
      

        <!-- New section -->
          <h1 class="w3-text-teal" id="#properties"FACTORIAL>Factorial</h1>
       
          <h3 class="w3-text-teal">How it works.</h3>
          <p>
            In mathematics, the factorial of a non-negative integer n,
             denoted by n!, is the product of all positive integers less than or equal to n: <br>

    n ! = n ⋅ ( n − 1 ) ⋅ ( n − 2 ) ⋅ ( n − 3 ) ⋅ ⋯ ⋅ 3 ⋅ 2 ⋅ 1 . <br>
    
    5 ! = 5 ⋅ 4 ⋅ 3 ⋅ 2 ⋅ 1 = 120 . <br>

The value of 0! is 1
          </p>

          <form action="/factorial" method="POST">
            <input type="Number"  name="Number" placeholder="Number" >
            <!-- <a class=" w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" type="submit">ENTER</a> -->
              <button class ="w3-medium w3-round-xxlarge" style="background-color: #009494;" type="submit">Enter</button>
              
          </form>
 
            
        </div>

        <!-- End section -->

     
        </div>

      <!-- <div class="w3-clear nextprev w3-padding-32">
        <a class="w3-left w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" href="/chapter9">
          Previous</a>
        <a class="w3-right w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;"
          href="#">Next</a>
      </div> -->

      <%- include("footer") -%>