<%- include("header") -%>

  <body>
   <!-- Navbar -->
   <div class="w3-top w3-teal">
    <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
      <a
        class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-teal w3-large w3-teal"
        href="javascript:void(0)"
        onclick="w3_open()"
        ><i class="fa fa-bars"></i
      ></a>
    
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-teal w3-text-black"><i class="fa fa-home"></i>  Data Structures and Algorithms</a>
      <!-- <h3 href="#" class="w3-bar-item w3-button w3-padding-small w3-text-black">Data Structures and Analysis</h3> -->
      <a href="/chapter1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black active">Algorithms</a>
      <a href="/chapter5" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black">Basic Data Structures</a>
      <a href="/chapter9" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black">Trees</a>
      <a href="/chapter7" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black">Sorting and Searching</a>
      <a href="/chapter13" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black">Basic Graphs</a>
      <a href="/fibonaccis" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-black">Implementations</a>
    </div>
  </div>

    <!-- Sidebar -->
    <nav class="w3-sidebar activecolor w3-bar-block w3-collapse  w3-animate-left w3-light-grey" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
          class="w3-right w3-xlarge w3-padding-large w3-hover-teal w3-hide-large" title="Close Menu">
          <i class="fa fa-remove"></i>
        </a>
  
        <h4 class="w3-text-black">Recursion</span></h4>
        
        <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge  active" href="/fibonaccis" >Fibonacci</a>
        <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/factorials">Factorial</a>
        <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/hanoi">Towers of Hanoi</a>
  
        <h4 class="w3-text-black">Data Structures </span></h4>
        
        <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/stacks" >Stack</a>
 <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/queue">Queue</a>
 <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/singly" >Singly linked list</a>
 <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/doubly">Doubly linked list</a>
        
      </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu"
      id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left: 250px">
      <div class="w3-row w3-padding-64">
        <div class=" w3-container">
      

        <!-- New section -->
          <h1 class="w3-text-teal" id="#properties">FIBONACCI</h1>
       
          <h3 class="w3-text-teal">How it works.</h3>
          <p>
            Fibonacci numbers are a sequence of numbers in mathematics named after Leonardo of Pisa,
             known as Fibonacci. The first number of the pattern is 0, the second number is 1,
              and each number after that is equal to adding the two numbers right before it together.
             For example 0+1=1 and 3+5=8. This sequence goes on forever. 
          </p>

            <form action="/fibonacci" method="POST">
              <input type="Number"  name="Number" placeholder="Number" >
              <!-- <a class=" w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" type="submit">ENTER</a> -->
                <button class ="w3-medium w3-round-xxlarge" style="background-color: #009494;" type="submit">Enter</button>
                
            </form>

        </div>

        <!-- End section -->

     
        </div>

      <!-- <div class="w3-clear nextprev w3-padding-32">
        <a class="w3-left w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" href="/chapter9">
          Previous</a>
        <a class="w3-right w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;"
          href="#">Next</a>
      </div> -->

      <%- include("footer") -%>