<%- include("header") -%>

   <!-- Sidebar -->
   <nav class="w3-sidebar activecolor w3-bar-block w3-collapse  w3-animate-left w3-light-grey" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
      class="w3-right w3-xlarge w3-padding-large w3-hover-teal w3-hide-large" title="Close Menu">
      <i class="fa fa-remove"></i>
    </a>

    <h4 class="w3-text-black">Recursion</span></h4>
    
    <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/fibonaccis" >Fibonacci</a>
    <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/factorials">Factorial</a>
    <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/hanoi">Towers of Hanoi</a>

    <h4 class="w3-text-black">Data Structures </span></h4>
    
    <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/stacks" >Stack</a>
    <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge  active" href="/queue">Queue</a>
    <a  target="_top" class="w3-bar-item w3-button w3-round-xxlarge" href="/Chapter1" >Singly linked list</a>
    <a target="_top" class="w3-bar-item w3-button w3-round-xxlarge " href="/Chapter1">Doubly linked list</a>
    
  </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu"
      id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left: 250px">
      <div class="w3-row w3-padding-64">
        <div class=" w3-container">
      

        <!-- New section -->
          <h1 class="w3-text-teal w3-center" id="#properties"> Hanoi Towers IMPLEMENTATION</h1>
       

          <h4 class="w3-text-black" >How it works</h4>

           
          <canvas id="canvas" width="600" height="300"></canvas>
    <div id="introduction">
      <div id="introduction-message">
        <h1>The Towers of Hanoi</h1>
        <p>Your objective in <a href="http://en.wikipedia.org/wiki/Tower_of_Hanoi">Towers of Hanoi</a> is simple: move
          your entire stack of disks from the first tower to one of the other two towers. There's only one
          catch&mdash;you may not place a larger disk on top of a smaller one.</p>
        <input id="start-new-game" type="button" value="Start game" />
      </div>
    </div>
    <div id="victory-notification">
      <div id="victory-message">
        <h1>Victory!</h1>
        <p>Congratulations! You just
          <a href="http://en.wikipedia.org/wiki/Towers_of_hanoi#Origins">ended the world</a>.</p>
        <p><input id="play-again" type="button" value="Play again" /> with
          <input id="disks-count" type="text" size="2" maxlength="2" value="3" /> disks.</p>
      </div>
    </div>
    <div id="debug"></div>





         
 
          

        </div>

        <!-- End section -->

     
        </div>

      

      <!-- <div class="w3-clear nextprev w3-padding-32">
        <a class="w3-left w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" href="/chapter9">
          Previous</a>
        <a class="w3-right w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;"
          href="#">Next</a>
      </div> -->

      <%- include("footer") -%>