<!DOCTYPE html>
<html lang="en">
<title>Learn Data Structures and Analysis</title>
<link rel="shortcut icon" href="images/favicon.ico">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a> -->
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white"><i class="fa fa-home"></i></a>
    <a href="/chapter1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Algorithms</a>
    <a href="/chapter5" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Basic Data Structures</a>
    <a href="/chapter9" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Trees</a>
    <a href="/chapter7" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Sorting and Searching</a>
    <a href="/chapter13" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Basic Graphs</a>
    <a href="/fibonaccis" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black w3-hover-black">Implementations</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/chapter1" class="w3-bar-item w3-button w3-padding-large">Algorithms</a>
    <a href="/chapter5" class="w3-bar-item w3-button w3-padding-large">Basic Data Structures</a>
    <a href="/chapter9" class="w3-bar-item w3-button w3-padding-large">Trees</a>
    <a href="/chapter7" class="w3-bar-item w3-button w3-padding-large">Sorting and Searching</a>
    <a href="/chapter13" class="w3-bar-item w3-button w3-padding-large">Basic Graphs</a>
    <a href="/fibonaccis" class="w3-bar-item w3-button w3-padding-large">Implementations</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">START LEARNING</h1>
  <p class="w3-xlarge">Data Structures and Analysis</p>
  <form action="/chapter1" class="form-signin">
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit">Get Started</button>
</form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <p><h1 class="w3-text-teal">Course Objective</h1>
      <ul>
        </li>
          <li>Understand the concept of data structure</li>
          <li>Distinguish between data structures and data types</li>
          <li>Learn how data structures are organized in the computer</li>
          <li>Describe the characteristics of common types of data structures</li>
          <li>Understand the concept of Abstract Data types</li>
          <li>Describe the advantages of Abstract Data Types</li>
          <li>Understand the concept of algorithm</li>
          <li>Describe the properties of algorithm</li>
          <li>Discuss the implementation of Algorithms</li>

      </ul>
    </p>
    <br>
    <br>
    <br>
    <div class="w3-twothird">
      <h1 class="w3-text-teal">Introduction</h1>
      <h5 class="w3-padding-32">Around the globe and because of technological advancement, it is difficult to spot a discipline that has distanced itself from the discipline of computer science.</h5>

      <p class="w3-text-grey">
        To quote a few,
        <ul class="w3-text-grey">
          <li>Medical surgery or diagnosis performed by robots or doctors on
            patients half way across the globe
            </li>
          <li>Launching of space crafts and satellites into outer space</li>
          <li>Forecasting tornadoes and cyclones</li>
          <li>Online reservation of tickets</li>
          <li>Billing at food store</li>
          <li>Control of washing machines</li>
        </ul>
        	One needs computers to be omnipresent, omnipotent.
          In simple terms, any discipline that calls for problem-solving using computers , look up to the discipline of computer science for efficient and effective methods and techniques of solutions to the problems in their respective fields.
       </p>
    </div>
    <div class="w3-third w3-center">
      <img class="mb-4" src="images\areas-used.jpg" alt="areas-used" >
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-teal w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-right">
      <img class="w3-padding-64 w3-text-black w3-margin-right" src="images\compscience.jpg" alt="compscience" >
    </div>

    <div class="w3-twothird">
      <h1>Implications</h1>
      <h5 class="w3-padding-32">Computer science is simply the study of problems, problem- solving and the solution come out of the problem-solving process through the design of algorithms.</h5>

      <p class="w3-text-grey">
        	From the point of view of problem-solving, the discipline of computer science could be categorized into the following four sub areas.
          <ul>
            
            <li> Machines</li> 
            •	What machines are appropriate or available for the solution of a problem?
            <br>
            •	What is the machine configuration- its processing power, memory capacity etc. that
            would be required for the efficient execution of the solutions?
            <li> Languages</li>
            •	What is the language or software with which the solution of the problem needs to be
            coded?	What	are	the	software	constraints	that	would	hamper	the	efficient implementation of the solution?
            <li> Foundations</li>
            •	What is the model of a problem and its solution? What method need to be employed
            for the efficient design and implementation of the problem? What is its performance
            measure?
            <li> Technologies</li>
            •	What are the technologies that need to be incorporated for the solution of the problem? For example, does the solution call for a web based implementation or
            needs activation from mobile devices or calls for hand shaking broadcasting devices
            or merely needs to interact with high end or low end peripheral devices.
          </ul>
       
        </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Improve your skill-set</h1>
    <div class="w3-clear nextprev w3-padding-32">
      <a class="w3-left w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;" href="#">
        Previous</a>
      <a class="w3-right w3-button w3-medium w3-round-xxlarge" style="background-color: #009494;"
        href="/chapter1">Next</a>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Done by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Group 14</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>